/* _content/ForumWars/Pages/Components/Footer.razor.rz.scp.css */
.nav-wrapper[b-0ka4gf6zg8] {
    flex: 1;
    color: white;
    display: flex;
    padding: 20px;
    font-weight: bold;
    font-size: x-large;
    background-color: red;
    background-color: orangered;
    cursor: default;
}

.nav-title[b-0ka4gf6zg8] {
    cursor: pointer;
}

    .nav-title:hover[b-0ka4gf6zg8] {
    }

.nav-title-bomb[b-0ka4gf6zg8] {
}

.nav[b-0ka4gf6zg8] {
    flex: 1;
    color: white;
    gap: 10px;
    justify-content: center;
    text-align: center;
}

.nav-option[b-0ka4gf6zg8] {
    margin-right: 45px;
    text-align: center;
    text-decoration: none;
}

    .nav-option:hover[b-0ka4gf6zg8] {
        cursor: pointer;
    }

.nav-link:hover[b-0ka4gf6zg8] {
    cursor: pointer;
}

.user-area[b-0ka4gf6zg8] {
    margin-left: auto;
    padding: 2px;
}
/* _content/ForumWars/Pages/Components/TopicComment.razor.rz.scp.css */
.comment-wrapper[b-6xxti71bud] {
    padding: 12px;
    width: fit-content;
    height: auto;
    border-radius: 3%;
    background-color: khaki;
    margin-bottom: 30px;
}

.comment-header-wrapper[b-6xxti71bud] {
    display: flex;
    margin-bottom: 20px;
}

.comment-username[b-6xxti71bud] {
    font-weight: bold;
    font-size: larger;
}

.comment-creation-date[b-6xxti71bud] {
    font-size: larger;
    margin-left: auto;
    font-weight: bold;
}

.comment-text[b-6xxti71bud] {
    display: flex;
    padding: 5px;
    height: 40px;    
}

.comment-interaction[b-6xxti71bud] {
    margin-top: 35px;
    display: flex;    
}

.like-int[b-6xxti71bud] {
    padding: 5px;
}

    .like-int:hover[b-6xxti71bud] {
        cursor: pointer;
        transform: scale(1.4)
    }

.dislike-int[b-6xxti71bud] {
    padding: 5px;
}

    .dislike-int:hover[b-6xxti71bud] {
        cursor: pointer;
        transform: scale(1.4)
    }

.comment-int[b-6xxti71bud] {
    font-weight: bold;
    text-decoration: none;
    border: 0px;
    background-color: khaki;
    padding: 5px;
}

    .comment-int:hover[b-6xxti71bud] {
        text-decoration: underline;
    }

.sub-comment-wrapper[b-6xxti71bud] {
    display: flex;
}
/* _content/ForumWars/Pages/Components/TopicPreview.razor.rz.scp.css */
.content[b-bhvzlr5gl0] {
    margin-top: 95px;
    max-width: 1580px;
}

.title[b-bhvzlr5gl0] {
    color: black;
    font-weight: bold;
    font-size: 70px;
    cursor: default;
}

    .title.dark-theme[b-bhvzlr5gl0] {
        color: white;
    }

.discussion-title[b-bhvzlr5gl0] {
    color: black;
    font-weight: bold;
    font-size: 50px;
    margin-right: 55px;
}

    .discussion-title.dark-theme[b-bhvzlr5gl0] {
        color: white;
    }

.discussions-wrapper[b-bhvzlr5gl0] {
    margin-top: 25px;
    width: fit-content;
}

.discussion-card[b-bhvzlr5gl0] {
    padding: 60px;
    border-radius: 4%;
    margin-bottom: 35px;
    height: fit-content;
    background-color: lightgoldenrodyellow;
    opacity: 35%;
    transition: ease-in-out 0.5s;
}

    .discussion-card:hover[b-bhvzlr5gl0] {
        opacity: 100%;
        cursor: pointer;
        transform: scale(1.1);
    }

.discussion-header[b-bhvzlr5gl0] {
    gap: 20px;
    display: flex;
}

.topics[b-bhvzlr5gl0] {
    margin-left: 15px;
    padding: 10px;
    border-radius: 20%;
    font-size: 18px;
    font-weight: bolder;
    height: fit-content;
    width: fit-content;
    background-color: gold;
    transition: ease-in-out;
    animation: topicsShake-b-bhvzlr5gl0 2s normal infinite;
}

.discussion-upvotes[b-bhvzlr5gl0] {
    font-weight: bold;
    font-size: 35px;
    margin-left: auto;
    transition: ease;
    animation: fireShake-b-bhvzlr5gl0 4s backwards infinite;
}

.discussion-title[b-bhvzlr5gl0] {
    color: darkorange;
}

    .discussion-title.dark-theme[b-bhvzlr5gl0] {
        color: purple;
    }

.discussion-body[b-bhvzlr5gl0] {
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
}

/* --------------------------! Animations !-------------------------- */
/* --------------------------! Fire Shake !-------------------------- */
@keyframes fireShake-b-bhvzlr5gl0 {
    0% {
        transform: rotate(25deg)
    }

    25% {
        transform: rotate(-25deg)
    }

    50% {
        transform: rotate(25deg)
    }

    100% {
        transform: rotate(-25deg)
    }
}

@-moz-keyframes fireShake {
    0% {
        transform: rotate(25deg)
    }

    25% {
        transform: rotate(-25deg)
    }

    50% {
        transform: rotate(25deg)
    }

    100% {
        transform: rotate(-25deg)
    }
}

@-webkit-keyframes fireShake {
    0% {
        transform: rotate(25deg)
    }

    25% {
        transform: rotate(-25deg)
    }

    50% {
        transform: rotate(25deg)
    }

    100% {
        transform: rotate(-25deg)
    }
}

/* --------------------------! Topics Shake !-------------------------- */
@keyframes topicsShake-b-bhvzlr5gl0 {
    from {
        transform: scale(1.3);
    }

    to {
        transform: scale(1.0);
    }
}

@-moz-keyframes topicsShake {
    from {
        transform: scale(1.3);
    }

    to {
        transform: scale(1.0);
    }
}

@-webkit-keyframes topicsShake {
    from {
        transform: scale(1.3);
    }

    to {
        transform: scale(1.0);
    }
}
/* _content/ForumWars/Pages/Components/TrendingHastags.razor.rz.scp.css */
.trending-hashtags-wrapper[b-cnxfghmh7x] {
    width: auto;
    height: max-content;
    margin-top: 90px;
}

.content[b-cnxfghmh7x] {
    display: flex;
    transition: ease-out 0.5s;
    opacity: 35%;
}

    .content:hover[b-cnxfghmh7x] {
        opacity: 100%;
    }

.title[b-cnxfghmh7x] {
    color: black;
    font-weight: bolder;
    font-size: 70px;
    cursor: default;
}

    .title.dark-theme[b-cnxfghmh7x] {
        color: white;
    }

.trending-hashtags-row[b-cnxfghmh7x] {
    display: flex;
    overflow-x: hidden;
    padding: 10px;
}

.move-btn[b-cnxfghmh7x] {
    font-size: 70px;
    color: orangered;
    font-weight: bold;
    margin-inline-start: 15px;
    margin-inline-end: 15px;    
}

    .move-btn.dark-theme[b-cnxfghmh7x] {
        color: #096BFF;
    }

    .move-btn:hover[b-cnxfghmh7x] {
        padding: 1px;
        cursor: pointer;
        color: red;
        transform: scale(1.1);
    }

.list-wrapper[b-cnxfghmh7x] {
    gap: 85px;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
    display: flex;
    width: stretch;
}

body > div.page > div.content-wrapper > div > div > div > div > div > div:nth-child(1)[b-cnxfghmh7x] {
    background-color: orangered !important;
}

    body > div.page > div.content-wrapper > div > div > div > div > div > div:nth-child(1).dark-theme[b-cnxfghmh7x] {
        background-color: #C41CFF !important;
    }

body > div.page > div.content-wrapper > div > div > div > div > div > div:nth-child(2)[b-cnxfghmh7x] {
    background-color: #e5460b !important;
}

    body > div.page > div.content-wrapper > div > div > div > div > div > div:nth-child(2).dark-theme[b-cnxfghmh7x] {
        background-color: #A42CCE !important;
    }

body > div.page > div.content-wrapper > div > div > div > div > div > div:nth-child(3)[b-cnxfghmh7x] {
    background-color: #cb4412 !important;
}

    body > div.page > div.content-wrapper > div > div > div > div > div > div:nth-child(3).dark-theme[b-cnxfghmh7x] {
        background-color: #8A32A9 !important;
    }

body > div.page > div.content-wrapper > div > div > div > div > div > div:nth-child(4)[b-cnxfghmh7x] {
    background-color: #923816 !important;
}

    body > div.page > div.content-wrapper > div > div > div > div > div > div:nth-child(4).dark-theme[b-cnxfghmh7x] {
        background-color: #782A94 !important;
    }

.item-wrapper[b-cnxfghmh7x] {
    display: block;
    padding: 40px;
    width: 245px;
    height: auto;
    text-align: center;
    border-radius: 10%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: slategrey;
    scroll-behavior: smooth;
    animation: slide-in-b-cnxfghmh7x 2s forwards;
}

    .item-wrapper:hover[b-cnxfghmh7x] {
        cursor: pointer;
        transition: ease-in-out 0.1s;
        transform: scale(1.2);
    }

.item[b-cnxfghmh7x] {
    text-align: center;
    color: khaki;
    font-size: 40px;
    font-weight: bold;
}

    .item.dark-theme[b-cnxfghmh7x] {
        color: #9FFEF8;
    }

/* --------------------------! Animations !-------------------------- */
/* -------------------------- Fade Away -------------------------- */
@keyframes fadeAway-b-cnxfghmh7x {
    0% {
        transition: ease-in-out;
    }

    100% {
        transform: scale(0.5);
        opacity: 0%;
    }
}

@-moz-keyframes fadeAway {
    0% {
        transition: ease-in-out;
    }

    100% {
        transform: scale(0.5);
        opacity: 0%;
    }
}

@-webkit-keyframes fadeAway {
    0% {
        transition: ease-in-out;
    }

    100% {
        transform: scale(0.5);
        opacity: 0%;
    }
}

/* -------------------------- Slide In -------------------------- */
@keyframes slide-in-b-cnxfghmh7x {
    0% {
        -webkit-transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(0%);
    }
}

@-webkit-keyframes slide-in {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* -------------------------- Slide Out -------------------------- */

@keyframes slide-out-b-cnxfghmh7x {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

@-webkit-keyframes slide-out {
    0% {
        -webkit-transform: translateX(0%);
    }

    100% {
        -webkit-transform: translateX(100%);
    }
}

/* -------------------------- Interaction -------------------------- */
@keyframes name-b-cnxfghmh7x {
    from {
    }

    to {
        background: yellow;
    }
}

@-moz-keyframes name {
}

@-webkit-keyframes name {
}
/* _content/ForumWars/Pages/Components/User.razor.rz.scp.css */
.user-info-wrapper[b-q4ow3f1kko] {
    display: flex;
}

.user-wrapper[b-q4ow3f1kko] {
    padding: 7px;
    border-radius: 100%;
    height: max-content;
    width: max-content;
}

    .user-wrapper:hover[b-q4ow3f1kko] {
        background-color: darkkhaki;
        cursor: pointer;
    }

.user-head[b-q4ow3f1kko] {
    height: 14px;
    width: 14px;
    margin-left: auto;
    margin-right: auto;
    border: white 2px thick;
    border-radius: 100%;
    background-color: white;
}

.user-body[b-q4ow3f1kko] {
    height: 24px;
    width: 30px;
    border: white 2px thick;
    border-radius: 70%;
    background-color: white;
}
/* _content/ForumWars/Pages/NewDiscussion.razor.rz.scp.css */
.new-discussion-page-wrapper[b-v6rgc89hgy] {
    height: stretch;
    width: stretch;
}

.page-title[b-v6rgc89hgy] {
    font-size: 25px;
    font-weight: bold;
}

.inputs-wrapper[b-v6rgc89hgy] {
    padding: 2px;
    border-radius: 2%;
    border: black 2px thin;
}

.input-option[b-v6rgc89hgy] {
    width: stretch;
    border-radius : 5%;
    border: black 2px thin;
}

.input-option:focus[b-v6rgc89hgy] {
    border: orangered 2px thick;    
}

.spinner-control[b-v6rgc89hgy] {
    display : flex;
}

.create-discussion-btn[b-v6rgc89hgy] {

}
/* _content/ForumWars/Pages/Search.razor.rz.scp.css */
.page-wrapper[b-f5vv66fie5] {
    height: auto;
    width: 100%;
    color: black;
}

.content-wrapper[b-f5vv66fie5] {
    padding: 10px;
}

.page-title[b-f5vv66fie5] {
    font-size: 45px;
    font-weight: bold;
    cursor: default;
}

.results-content[b-f5vv66fie5] {
    margin-top: 25px;
}

.user-interaction-wrapper[b-f5vv66fie5] {
    margin-top: 15px;
}

.search-box-wrapper[b-f5vv66fie5] {
    flex: 1;
    padding: 15px;
    border-radius: 2%;
    background-color: whitesmoke;
}

.text-input[b-f5vv66fie5] {
    padding: 15px;
    border-radius: 2%;
}

.input-btn[b-f5vv66fie5] {
    padding: 15px;
    color: white;
    border: deepskyblue 2px solid;
    border-radius: 2%;
    background-color: deepskyblue;
}

    .input-btn :hover[b-f5vv66fie5] {
        transform: scale(1.3);
    }

.results-wrapper[b-f5vv66fie5] {
    margin-top: 20px;
    padding: 15px;
    border-radius: 2%;
    background-color: whitesmoke;
}

.items-wrapper[b-f5vv66fie5] {
    height: stretch;
    grid-gap: 20px;
    overflow-y: scroll;
}

.search-item[b-f5vv66fie5] {
    flex: 1;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 2%;
    border: darkkhaki 2px solid;
    transition: 0.2s ease-in-out;
    transform: scale(0.9);
}

    .search-item:hover[b-f5vv66fie5] {
        background-color: darkkhaki;
        border: 0px;
        cursor: pointer;
        transform: scale(1);
    }

.item-info[b-f5vv66fie5] {
    padding: 2px;
    display: flex;
    height: min-content;    
    width: stretch;    
}

.item-hour[b-f5vv66fie5] {
    font-weight: bold;
    font-size: larger;
    color: black;
}

.item-upvotes[b-f5vv66fie5] {
    font-weight: bold;
    font-size: larger;
    color: black;
    margin-left: auto;
    text-align: right;
}

.topic[b-f5vv66fie5] {
    border: orangered 2px thin;
    background-color: orange;
    color: white;
    padding: 3px;
    transform: scale(0.9);
    border-radius: 5%;
    width: stretch;
}

.item-title[b-f5vv66fie5] {
    font-weight: bold;
    font-size: larger;
    color: black;
}

.discussion-topics[b-f5vv66fie5] {
    display: flex;
    width: min-content;
    height: min-content;
}
/* _content/ForumWars/Pages/Topic.razor.rz.scp.css */
.topic-page-wrapper[b-t0n9l0emv3] {
    height: stretch;
    flex-direction: row;
    flex: 1;
    width: 100%;
    color: black;
}

    .topic-page-wrapper.dark-theme[b-t0n9l0emv3] {
        color: white;
    }

.topic-id[b-t0n9l0emv3] {
    font-size: 80px;
    font-weight: bold;
}

.topic-wrapper[b-t0n9l0emv3] {
    padding: 76px;
    border-radius: 5%;
    background-color: whitesmoke;
}

.topic-title-wrapper[b-t0n9l0emv3] {
    display: flex;
    margin-bottom: 5px;
}

.topic-title[b-t0n9l0emv3] {
    font-size: 80px;
    font-weight: bold;
}

.topics[b-t0n9l0emv3] {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.topic-topics[b-t0n9l0emv3] {
    color: white;
    background-color: red;
    height: fit-content;
    border: 4px;
    padding: 10px;
    border-radius: 15%;    
}

.topic-creation-info[b-t0n9l0emv3] {
    display: flex;
    margin-bottom: 28px;
}

.topic-author[b-t0n9l0emv3] {
    font-weight: bold;
    color: black;
}

.topic-creation-date[b-t0n9l0emv3] {
    font-weight: bold;
    margin-left: auto;
    color: black;
}

.topic-text[b-t0n9l0emv3] {
    padding: 6px;
    font-size: larger;
}

.comment-section[b-t0n9l0emv3] {
    margin-top: 15px;
    padding: 76px;
    border-radius: 5%;
    background-color: whitesmoke;
}

.comments-section-title[b-t0n9l0emv3] {
    color: gray;
    font-size: 60px;
    font-weight: bold;
}

.user-comment-section-wrapper[b-t0n9l0emv3] {
    margin-top: 15px;
    display: flex;
    flex: 1;
    width: 900px;
    height: 120px;
}

.user-comment[b-t0n9l0emv3] {
    display: flex;
    flex: 1;
    height: 50px;
    width: 900px;
    border-radius: 2%;
}

.send-comment-btn[b-t0n9l0emv3] {
    margin-left: 5px;
    color: white;
    height: 50px;
    background-color: #0094ff;
    border-radius: 5%;
    border: 2px thin;
}

    .send-comment-btn:hover[b-t0n9l0emv3] {
        transform: scale(1.1)
    }

.comments-wrapper[b-t0n9l0emv3] {
    padding: 20px;
    height: auto;
    width: auto;
    overflow-y: scroll;
    grid-row-gap: 25px;
}

/* --------------------------! Animations !-------------------------- */
/* --------------------------! Topic Animation !-------------------------- */
@keyframes topicAnimation-b-t0n9l0emv3 {
    0% {
        color: #ff0000;
        transform: rotate(360deg)
    }

    20% {
        color: #ff6a00
    }

    60% {
        color: #ffd800
    }

    100% {
        color: #000000
    }
}
/* _content/ForumWars/Pages/User.razor.rz.scp.css */
.topic-page-wrapper[b-0243gdpe19] {
    height: stretch;
    flex-direction: row;
    flex: 1;
    width: 100%;
    color: black;
}

    .topic-page-wrapper.dark-theme[b-0243gdpe19] {
        color: white;
    }

.topic-wrapper[b-0243gdpe19] {
    padding: 76px;
    border-radius: 5%;
    background-color: whitesmoke;
}
/* _content/ForumWars/Shared/MainLayout.razor.rz.scp.css */
html[b-5xyxhp1lar] {
    scroll-behavior: smooth;
}

.page[b-5xyxhp1lar] {
    height: auto;
    width: 100%;
}

.page.dark-theme[b-5xyxhp1lar] {
    background-color: black;
}

.content-wrapper[b-5xyxhp1lar] {
    padding: 10px;
    margin-left: 280px;
    margin-right: 280px;
}
/* _content/ForumWars/Shared/NavMenu.razor.rz.scp.css */
.nav-wrapper[b-nqkq92omyw] {
    flex: 1;
    color: white;    
    padding: 20px;
    font-weight: bold;
    font-size: x-large;    
    background-color: orangered;
}

.nav-content[b-nqkq92omyw] {
    display: flex;
    transition: ease-in-out 0.2s;
    opacity: 75%;
}

.nav-content:hover[b-nqkq92omyw] {
    opacity: 100%;
}

.nav-title[b-nqkq92omyw] {
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

    .nav-title:hover[b-nqkq92omyw] {
        transform: skew(10deg, 5deg);
        animation: ColorChange-b-nqkq92omyw 1.5s linear infinite;
    }

.nav-title-bomb[b-nqkq92omyw] {
    opacity: 75%;
    transition: 0.2s ease-in;
    transform: scale(1);
}

    .nav-title-bomb:hover[b-nqkq92omyw] {
        color-scheme: light;
        font-size: 45px;
        opacity: 100%;
        transform: scale(1.1);
    }

.nav[b-nqkq92omyw] {
    flex: 1;
    color: white;
    gap: 10px;
    justify-content: center;
    text-align: center;
}

.nav-option[b-nqkq92omyw] {
    font-size: 23px;
    margin-right: 45px;
    text-align: center;
    text-decoration: none;
}

    .nav-option:hover[b-nqkq92omyw] {
        cursor: pointer;
        transition: none ease-in-out 1s;
        transform: rotate(-5deg) scale(1.1);
        text-shadow: 2px 4px 4px black;
    }

.nav-link:hover[b-nqkq92omyw] {
    cursor: pointer;
}

.user-area[b-nqkq92omyw] {
    margin-left: auto;
    padding: 2px;
}

/* --------------------------! Animations !-------------------------- */
/* --------------------------! Bomb Move !-------------------------- */
@keyframes bombMove-b-nqkq92omyw {
    0% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.0);
    }
}

@-moz-keyframes bombMove {
    0% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.0);
    }
}

@-webkit-keyframes bombMove {
    0% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.0);
    }
}

/* --------------------------! Color Change !-------------------------- */
@keyframes ColorChange-b-nqkq92omyw {
    0% {
        color: black;
    }

    25% {
        color: coral;
    }

    50% {
        color: white;
        transform: matrix(0.707, 0.707, -0.707, 0, 0); /*45 degrees rotation*/
    }

    75% {
        color: red;
    }

    100% {
        color: white;
    }
}

@-moz-keyframes ColorChange {
    0% {
        color: black;
    }

    25% {
        color: coral;
    }

    50% {
        color: white;
        transform: matrix(0.707, 0.707, -0.707, 0, 0); /*45 degrees rotation*/
    }

    75% {
        color: red;
    }

    100% {
        color: white;
    }
}

@-webkit-keyframes ColorChange {
    0% {
        color: black;
    }

    25% {
        color: coral;
    }

    50% {
        color: white;
    }

    75% {
        color: red;
    }

    100% {
        color: white;
    }
}


/* --------------------------! BombMove !-------------------------- */
@keyframes BombMove-b-nqkq92omyw {
    0% {
        transform: rotate(-25deg);
    }

    50% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(25deg);
    }
}

@-moz-keyframes BombMove {
    0% {
        transform: rotate(-25deg);
    }

    50% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(25deg);
    }
}

@-webkit-keyframes BombMove {
    0% {
        transform: rotate(-25deg);
    }

    50% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(25deg);
    }
}
