.comment-wrapper[b-6xxti71bud] {
    padding: 12px;
    width: fit-content;
    height: auto;
    border-radius: 3%;
    background-color: khaki;
    margin-bottom: 30px;
}

.comment-header-wrapper[b-6xxti71bud] {
    display: flex;
    margin-bottom: 20px;
}

.comment-username[b-6xxti71bud] {
    font-weight: bold;
    font-size: larger;
}

.comment-creation-date[b-6xxti71bud] {
    font-size: larger;
    margin-left: auto;
    font-weight: bold;
}

.comment-text[b-6xxti71bud] {
    display: flex;
    padding: 5px;
    height: 40px;
}

.comment-interaction[b-6xxti71bud] {
    margin-top: 35px;
    display: flex;
}

.like-int[b-6xxti71bud] {
    padding: 5px;
}

    .like-int:hover[b-6xxti71bud] {
        cursor: pointer;
        transform: scale(1.4)
    }

.dislike-int[b-6xxti71bud] {
    padding: 5px;
}

    .dislike-int:hover[b-6xxti71bud] {
        cursor: pointer;
        transform: scale(1.4)
    }

.comment-int[b-6xxti71bud] {
    font-weight: bold;
    text-decoration: none;
    border: 0px;
    background-color: khaki;
    padding: 5px;
}

    .comment-int:hover[b-6xxti71bud] {
        text-decoration: underline;
    }

.sub-comment-wrapper[b-6xxti71bud] {
    display: flex;
    padding: 2px;
}

.sub-comment-input[b-6xxti71bud] {
    flex: 1;
    padding: 1px;
    width: 560px;
    margin-right: 5px;
}
