.content[b-bhvzlr5gl0] {
    margin-top : 95px;
    max-width : 1580px;    
}

.title[b-bhvzlr5gl0] {
    color: black;
    font-weight: bold;
    font-size: 70px;
}

.title.dark-theme[b-bhvzlr5gl0] {
    color : white;
}

.discussion-title[b-bhvzlr5gl0] {
    color: black;
    font-weight: bold;
    font-size: 50px;
    margin-right : 55px;
}

.discussion-title.dark-theme[b-bhvzlr5gl0] {
    color: white;
}

.discussions-wrapper[b-bhvzlr5gl0] {
    margin-top : 25px;
    width : fit-content;
}
.discussion-card[b-bhvzlr5gl0] {    
    padding: 60px;
    border-radius: 1%;
    margin-bottom : 35px;
    height : fit-content;
    background-color: lightgoldenrodyellow;
}

.discussion-header[b-bhvzlr5gl0] {
    gap : 20px;
    display : flex;
}

.topics[b-bhvzlr5gl0] {    
    margin-left : 15px;
    padding : 10px;
    border-radius : 20%;
    font-size : 18px;
    font-weight : bolder;
    height : fit-content;
    width : fit-content;
    background-color : gold;
}

.discussion-upvotes[b-bhvzlr5gl0] {
    font-weight : bold;
    font-size: 35px;
    margin-left : auto;
}

.discussion-title[b-bhvzlr5gl0] {
    color: darkorange;
}

.discussion-title.dark-theme[b-bhvzlr5gl0] {
    color: purple;
}

.discussion-body[b-bhvzlr5gl0] {
    margin-top : 25px;
    font-size : 20px;
    font-weight : bold;
}