.trending-hashtags-wrapper[b-cnxfghmh7x] {
    width: auto;
    height: max-content;
    margin-top: 55px;
}

.content[b-cnxfghmh7x] {
    display: flex;
    transition: ease-out 0.5s;
    opacity: 35%;
}

    .content:hover[b-cnxfghmh7x] {
        opacity: 100%;
    }

.title[b-cnxfghmh7x] {
    color: black;
    font-weight: bolder;
    font-size: 70px;
    cursor: default;
}

    .title.dark-theme[b-cnxfghmh7x] {
        color: white;
    }

.trending-hashtags-row[b-cnxfghmh7x] {
    display: flex;
    overflow-x: hidden;
    padding: 10px;
}

.move-btn[b-cnxfghmh7x] {
    font-size: 70px;
    color: orangered;
    font-weight: bold;
    margin-inline-start: 15px;
    margin-inline-end: 15px;    
}

    .move-btn.dark-theme[b-cnxfghmh7x] {
        color: #096BFF;
    }

    .move-btn:hover[b-cnxfghmh7x] {
        padding: 1px;
        cursor: pointer;
        color: red;
        transform: scale(1.1);
    }

.list-wrapper[b-cnxfghmh7x] {
    gap: 85px;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
    display: flex;
    width: stretch;
}

body > div.page > div.content-wrapper > div > div > div > div > div > div:nth-child(1)[b-cnxfghmh7x] {
    background-color: orangered !important;
}

    body > div.page > div.content-wrapper > div > div > div > div > div > div:nth-child(1).dark-theme[b-cnxfghmh7x] {
        background-color: #C41CFF !important;
    }

body > div.page > div.content-wrapper > div > div > div > div > div > div:nth-child(2)[b-cnxfghmh7x] {
    background-color: #e5460b !important;
}

    body > div.page > div.content-wrapper > div > div > div > div > div > div:nth-child(2).dark-theme[b-cnxfghmh7x] {
        background-color: #A42CCE !important;
    }

body > div.page > div.content-wrapper > div > div > div > div > div > div:nth-child(3)[b-cnxfghmh7x] {
    background-color: #cb4412 !important;
}

    body > div.page > div.content-wrapper > div > div > div > div > div > div:nth-child(3).dark-theme[b-cnxfghmh7x] {
        background-color: #8A32A9 !important;
    }

body > div.page > div.content-wrapper > div > div > div > div > div > div:nth-child(4)[b-cnxfghmh7x] {
    background-color: #923816 !important;
}

    body > div.page > div.content-wrapper > div > div > div > div > div > div:nth-child(4).dark-theme[b-cnxfghmh7x] {
        background-color: #782A94 !important;
    }

.item-wrapper[b-cnxfghmh7x] {
    display: block;
    padding: 40px;
    width: 245px;
    height: auto;
    text-align: center;
    border-radius: 10%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: slategrey;
    scroll-behavior: smooth;
    animation: slide-in-b-cnxfghmh7x 2s forwards;
}

    .item-wrapper:hover[b-cnxfghmh7x] {
        cursor: pointer;
        transition: ease-in-out 0.1s;
        transform: scale(1.2);
    }

.item[b-cnxfghmh7x] {
    text-align: center;
    color: khaki;
    font-size: 40px;
    font-weight: bold;
}

    .item.dark-theme[b-cnxfghmh7x] {
        color: #9FFEF8;
    }

/* --------------------------! Animations !-------------------------- */
/* -------------------------- Fade Away -------------------------- */
@keyframes fadeAway-b-cnxfghmh7x {
    0% {
        transition: ease-in-out;
    }

    100% {
        transform: scale(0.5);
        opacity: 0%;
    }
}

@-moz-keyframes fadeAway {
    0% {
        transition: ease-in-out;
    }

    100% {
        transform: scale(0.5);
        opacity: 0%;
    }
}

@-webkit-keyframes fadeAway {
    0% {
        transition: ease-in-out;
    }

    100% {
        transform: scale(0.5);
        opacity: 0%;
    }
}

/* -------------------------- Slide In -------------------------- */
@keyframes slide-in-b-cnxfghmh7x {
    0% {
        -webkit-transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(0%);
    }
}

@-webkit-keyframes slide-in {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* -------------------------- Slide Out -------------------------- */

@keyframes slide-out-b-cnxfghmh7x {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

@-webkit-keyframes slide-out {
    0% {
        -webkit-transform: translateX(0%);
    }

    100% {
        -webkit-transform: translateX(100%);
    }
}

/* -------------------------- Interaction -------------------------- */
@keyframes name-b-cnxfghmh7x {
    from {
    }

    to {
        background: yellow;
    }
}

@-moz-keyframes name {
}

@-webkit-keyframes name {
}
