.discussion-page-wrapper[b-hxtk2cglt6] {
    height: stretch;
    flex-direction: row;
    flex: 1;
    width: 100%;
    color: black;
    margin-bottom: 85px;
}

    .discussion-page-wrapper.dark-theme[b-hxtk2cglt6] {
        color: white;
    }

.discussion-id[b-hxtk2cglt6] {
    font-size: 80px;
    font-weight: bold;
}

.discussion-wrapper[b-hxtk2cglt6] {
    margin-top: 85px;
    padding: 76px;
    border-radius: 2%;
    background-color: whitesmoke;
}

.discussion-title-wrapper[b-hxtk2cglt6] {
    display: flex;
    margin-bottom: 5px;
}

.discussion-title[b-hxtk2cglt6] {
    font-size: 80px;
    font-weight: bold;
}

.discussions[b-hxtk2cglt6] {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.discussion-discussions[b-hxtk2cglt6] {
    cursor: pointer;
    color: white;
    background-color: red;
    height: fit-content;
    border: 4px;
    padding: 10px;
    border-radius: 15%;
    transform: scale(1);
    transition: ease-in-out 0.2s;
}

.discussion-topics:hover[b-hxtk2cglt6] {
    transform:scale(1.1);
}

.discussion-creation-info[b-hxtk2cglt6] {
    display: flex;
    margin-bottom: 28px;
}

.discussion-author[b-hxtk2cglt6] {
    font-weight: bold;
    color: black;
}

.discussion-creation-date[b-hxtk2cglt6] {
    font-weight: bold;
    margin-left: auto;
    color: black;
}

.discussion-text[b-hxtk2cglt6] {
    padding: 6px;
    font-size: larger;
}

.comment-section[b-hxtk2cglt6] {
    margin-top: 15px;
    padding: 76px;
    border-radius: 5%;
    background-color: whitesmoke;
}

.comments-section-title[b-hxtk2cglt6] {
    color: gray;
    font-size: 60px;
    font-weight: bold;
}

.user-comment-section-wrapper[b-hxtk2cglt6] {
    margin-top: 15px;
    display: flex;
    flex: 1;
    width: 900px;
    height: 120px;
}

.user-comment[b-hxtk2cglt6] {
    display: flex;
    flex: 1;
    height: 50px;
    width: 900px;
    border-radius: 2%;
}

.send-comment-btn[b-hxtk2cglt6] {
    margin-left: 5px;
    color: white;
    height: 50px;
    background-color: #0094ff;
    border-radius: 5%;
    border: 2px thin;
}

    .send-comment-btn:hover[b-hxtk2cglt6] {
        transform: scale(1.1)
    }

.comments-wrapper[b-hxtk2cglt6] {
    padding: 20px;
    height: auto;
    width: auto;
    overflow-y: scroll;
    grid-row-gap: 25px;
}

/* --------------------------! Animations !-------------------------- */
/* --------------------------! Topic Animation !-------------------------- */
@keyframes topicAnimation-b-hxtk2cglt6 {
    0% {
        color: #ff0000;
        transform: rotate(360deg)
    }

    20% {
        color: #ff6a00
    }

    60% {
        color: #ffd800
    }

    100% {
        color: #000000
    }
}
