.new-discussion-page-wrapper[b-v6rgc89hgy] {
    height: stretch;
    width: stretch;
}

.page-title[b-v6rgc89hgy] {
    font-size: 25px;
    font-weight: bold;
}

.inputs-wrapper[b-v6rgc89hgy] {
    padding: 2px;
    border-radius: 2%;
    border: black 2px thin;
}

.input-option[b-v6rgc89hgy] {
    width: stretch;
    border-radius : 5%;
    border: black 2px thin;
}

.input-option:focus[b-v6rgc89hgy] {
    border: orangered 2px thick;    
}

.spinner-control[b-v6rgc89hgy] {
    display : flex;
}

.create-discussion-btn[b-v6rgc89hgy] {

}