@page "/"
@using ForumWars.Pages.Components
@using ForumWars.Controllers

<script>
    function StartSession(){
        localStorage.setItem("theme", "black");
    }
</script>
<div>
    <PageTitle>Forum Wars</PageTitle>
    <TrendingHastags></TrendingHastags>
    <TopicPreview></TopicPreview>
</div>

@code {
    SessionController session;
    protected override void OnInitialized()
    {
        session = new SessionController();        
    }  
}