@page "/"
@using ForumWars.Pages.Components
@using ForumWars.Controllers

<div>
    <PageTitle>Forum Wars</PageTitle>
    <TrendingHastags></TrendingHastags>
    <Topics></Topics>
</div>

@code {
    SessionController session;

    protected override void OnInitialized()
    {
        sesions = new SessionController();
    }  
}