.page-wrapper {
    height: 100vh;
    width: 100%;
    color: black;
    margin-bottom: 85px;
}

.content-wrapper {
    padding: 10px;
    margin-top: 85px;
}

.page-title {
    font-size: 45px;
    font-weight: bold;
    cursor: default;
}

.results-content {
    margin-top: 25px;
}

.user-interaction-wrapper {
    margin-top: 15px;
}

.search-box-wrapper {
    flex: 1;
    padding: 15px;
    border-radius: 2%;
    background-color: whitesmoke;
}

.text-input {
    padding: 15px;
    border-radius: 2%;
}

.input-btn {
    padding: 15px;
    color: white;
    border: deepskyblue 2px solid;
    border-radius: 2%;
    background-color: deepskyblue;
}

    .input-btn :hover {
        transform: scale(1.3);
    }

.results-wrapper {
    margin-top: 20px;
    padding: 15px;
    border-radius: 2%;
    background-color: whitesmoke;
}

.items-wrapper {
    height: stretch;
    grid-gap: 20px;
    overflow-y: scroll;
}

.search-item {
    flex: 1;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 2%;
    border: darkkhaki 2px solid;
    transition: 0.2s ease-in-out;
    transform: scale(0.9);
}

    .search-item:hover {
        background-color: darkkhaki;
        border: 0px;
        cursor: pointer;
        transform: scale(1);
    }

.item-info {
    padding: 2px;
    display: flex;
    height: min-content;    
    width: stretch;    
}

.item-hour {
    font-weight: bold;
    font-size: larger;
    color: black;
}

.item-upvotes {
    font-weight: bold;
    font-size: larger;
    color: black;
    margin-left: auto;
    text-align: right;
}

.topic {
    border: orangered 2px thin;
    background-color: orange;
    color: white;
    padding: 3px;
    transform: scale(0.9);
    border-radius: 5%;
    width: stretch;
}

.item-title {
    font-weight: bold;
    font-size: larger;
    color: black;
}

.discussion-topics {
    display: flex;
    width: min-content;
    height: min-content;
}
