@page "/topic/"
@using ForumWars.Pages.Components

<div class="topic-page-wrapper">
    <div class="topic-id">#@idTopic</div>
    @if (topic == null && comments == null)
    {
        <div class="spinner-wrapper">
            <div class="spinner"></div>
        </div>
    }
    else
    {
        <div class="topic-wrapper">
            <div class="topic-title-wrapper">
                <div class="topic-title">@topic.Title</div>
                <div class="topics">
                    @foreach (var item in topic.CommunityTopics)
                    {
                        <div class="topic-topics">@item</div>
                    }
                </div>
            </div>
            <p class="topic-text">@topic.TopicText</p>
        </div>

        <div class="user-comment-section-wrapper">
            <input class="user-comment" type="text" placeholder="Leave a comment on this topic.👻" />
            <button class="send-comment-btn" onclick="">Send Comment</button>
        </div>

        <div class="comments-wrapper">
            @foreach (var item in comments)
            {
                <TopicComment UserCommentProps=item></TopicComment>
            }
        </div>
    }
</div>

@code {   
    //[Parameter]
    public int idTopic { get; set; }

    public ForumWars.Data.Topic? topic;
    public List<ForumWars.Data.Comment>? comments;

    protected override void OnInitialized()
    {
        idTopic = 1;
        topic = new ForumWars.Controllers.TopicsController().GetTopic(idTopic).Result;
        comments = new ForumWars.Controllers.TopicsController().GetTopicComments(idTopic).Result;
    }
}