.topic-page-wrapper {
    height: auto;
    width: 100%;
    color: black;
}

    .topic-page-wrapper.dark-theme {
        color: white;
    }

.topic-id {
    font-size: xx-large;
    transition: ease-in-out;
    animation: topicAnimation infinite ease-in-out;
}

.topic-wrapper {
    padding: 6px;
}

.topic-title-wrapper {
    display: flex;
    padding: 5px;
}

.topic-title {
    font-size: 80px;
    font-weight: bold;
    padding: 10px;
}

.topics {
    margin-left: 35px;
    display: flex;
    gap: 10px;
}

.topic-topics {
    color: white;
    background-color: red;
    height: fit-content;
    border: 4px;
    padding: 10px;
    border-radius: 15%;
}

    .topic-topics.dark-theme {
        background-color: lightgreen;
        color: black;
    }

.topic-text {
    padding: 6px;
    font-size: larger;
}

.user-comment-section-wrapper {
    margin-top: 15px;
    display: flex;
    flex: 1;
    width: 900px;
    height: 120px;
}

.user-comment {
    display: flex;
    flex: 1;
    height: 50px;
    width: 900px;
    border-radius: 5%;
    border: 4px thin black;
}

.send-comment-btn {
    margin-left: 5px;
    color: white;
    height: 50px;
    background-color: #0094ff;
    border-radius: 5%;
    border: 2px thin;
}

    .send-comment-btn:hover {
        transform: scale(1.1)
    }

.comments-wrapper {
    height: auto;
    width: auto;
    overflow-y: scroll;
}

/*Animations*/
@keyframes topicAnimation {
    0% {
        color: #ff0000;
        transform: rotate(360deg)
    }

    20% {
        color: #ff6a00
    }

    60% {
        color: #ffd800
    }

    100% {
        color: #000000
    }
}
