@page "/user/{idUser}"

<div class="topic-page-wrapper">
    <div class="topic-wrapper">
        User Page Code...
    </div>
</div>


@code {
    [Parameter]
    public string idUser { get; set; }  
}