.nav-wrapper[b-agf0wr0ols] {
    flex: 1;
    color: white;
    display: flex;
    padding: 20px;
    font-weight: bold;
    font-size: x-large;
    background-color: red;
    background-color: orangered;
    cursor: default;
}

.nav-title[b-agf0wr0ols] {
    cursor: pointer;
}
/*
    .nav-title:hover {
    }

.nav-title-bomb {
}
*/
.nav[b-agf0wr0ols] {
    flex: 1;
    color: white;
    gap: 10px;
    justify-content: center;
    text-align: center;
}

.nav-option[b-agf0wr0ols] {
    margin-right: 45px;
    text-align: center;
    text-decoration: none;
}

    .nav-option:hover[b-agf0wr0ols] {
        cursor: pointer;
    }

.nav-link:hover[b-agf0wr0ols] {
    cursor: pointer;
}

.user-area[b-agf0wr0ols] {
    margin-left: auto;
    padding: 2px;
}
