html[b-5xyxhp1lar] {
    scroll-behavior: smooth;
}

.page[b-5xyxhp1lar] {
    height: auto;
    width: 100%;
}

.page.dark-theme[b-5xyxhp1lar] {
    background-color: black;
}

.content-wrapper[b-5xyxhp1lar] {
    padding: 10px;
    margin-left: 280px;
    margin-right: 280px;
}