.nav-wrapper[b-nqkq92omyw] {
    flex: 1;
    color: white;
    padding: 20px;
    font-weight: bold;
    font-size: x-large;
    background-color: orangered;
}

    .nav-wrapper.dark-mode[b-nqkq92omyw] {
        background-color: black;
        flex: 1;
        color: white;
        padding: 20px;
        font-weight: bold;
        font-size: x-large;
    }

.nav-content[b-nqkq92omyw] {
    display: flex;
    transition: ease-in-out 0.2s;
    opacity: 75%;
}

    .nav-content:hover[b-nqkq92omyw] {
        opacity: 100%;
    }

.nav-title[b-nqkq92omyw] {
    display: flex;
    width: max-content;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

    .nav-title:hover[b-nqkq92omyw] {
        transform: skew(10deg, 5deg);
        animation: ColorChange-b-nqkq92omyw 1.5s linear infinite;
    }

.nav-title-bomb[b-nqkq92omyw] {
    opacity: 75%;
    transition: 0.2s ease-in;
    transform: scale(1);
}

    .nav-title-bomb:hover[b-nqkq92omyw] {
        color-scheme: light;
        font-size: 45px;
        opacity: 100%;
        transform: scale(1.1);
    }

.nav[b-nqkq92omyw] {
    flex: 1;
    color: white;
    gap: 10px;
    justify-content: center;
    text-align: center;
}

.nav-option[b-nqkq92omyw] {
    font-size: 23px;    
    text-align: center;
    text-decoration: none;
    margin-right: 15px;
}

    .nav-option:hover[b-nqkq92omyw] {
        cursor: pointer;
        transition: none ease-in-out 1s;
        transform: rotate(-5deg) scale(1.1);
        text-shadow: 2px 4px 4px black;
    }

.nav-link:hover[b-nqkq92omyw] {
    cursor: pointer;
}

.user-area[b-nqkq92omyw] {
    width: auto;    
    display: flex;
    margin-left: auto;
    padding: 2px;
}

.dark-mode-button[b-nqkq92omyw] {
    font-size: 25px;
}


/* --------------------------! Animations !-------------------------- */
/* --------------------------! Bomb Move !-------------------------- */
@keyframes bombMove-b-nqkq92omyw {
    0% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.0);
    }
}

@-moz-keyframes bombMove {
    0% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.0);
    }
}

@-webkit-keyframes bombMove {
    0% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.0);
    }
}

/* --------------------------! Color Change !-------------------------- */
@keyframes ColorChange-b-nqkq92omyw {
    0% {
        color: black;
    }

    25% {
        color: coral;
    }

    50% {
        color: white;
        transform: matrix(0.707, 0.707, -0.707, 0, 0); /*45 degrees rotation*/
    }

    75% {
        color: red;
    }

    100% {
        color: white;
    }
}

@-moz-keyframes ColorChange {
    0% {
        color: black;
    }

    25% {
        color: coral;
    }

    50% {
        color: white;
        transform: matrix(0.707, 0.707, -0.707, 0, 0); /*45 degrees rotation*/
    }

    75% {
        color: red;
    }

    100% {
        color: white;
    }
}

@-webkit-keyframes ColorChange {
    0% {
        color: black;
    }

    25% {
        color: coral;
    }

    50% {
        color: white;
    }

    75% {
        color: red;
    }

    100% {
        color: white;
    }
}


/* --------------------------! BombMove !-------------------------- */
@keyframes BombMove-b-nqkq92omyw {
    0% {
        transform: rotate(-25deg);
    }

    50% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(25deg);
    }
}

@-moz-keyframes BombMove {
    0% {
        transform: rotate(-25deg);
    }

    50% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(25deg);
    }
}

@-webkit-keyframes BombMove {
    0% {
        transform: rotate(-25deg);
    }

    50% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(25deg);
    }
}
