.nav-wrapper[b-nqkq92omyw] {
    flex: 1;
    color: white;
    display: flex;
    padding: 20px;
    font-weight: bold;
    font-size: x-large;
    background-color: red;
    background-color: orangered;
}

.nav-title[b-nqkq92omyw] { 
    cursor: pointer;
}

.nav-title:hover[b-nqkq92omyw] {
    
}

.nav-title-bomb[b-nqkq92omyw] {

}

.nav[b-nqkq92omyw] {
    flex: 1;
    color: white;
    gap: 10px;
    justify-content: center;
    text-align: center;
}

.nav-option[b-nqkq92omyw] {
    margin-right: 45px;
    text-align: center;
    text-decoration: none;
}

.nav-link:hover[b-nqkq92omyw] {
    cursor: pointer;    
}

.user-area[b-nqkq92omyw] {
    margin-left: auto;
    padding: 2px;    
}

/*Animations*/
@keyframes bombAnimation-b-nqkq92omyw {
    0% {        
    }
}

@-moz-keyframes bombAnimation {
}

@-webkit-keyframes bombAnimation {
}