@using ForumWars.Pages.Components
@inject NavigationManager NavManager

<script>
</script>
<div class="nav-wrapper">
    <div class="nav-title" @onclick=RedirectToHomePage>
        <span class="nav-title-text">ForumWars</span>
        <span class="nav-title-bomb">💣</span>
    </div>
    <nav class="nav">
        <div class="nav-option" @onclick=RedirectToSearchPage>Search</div>
        <div class="nav-option">Open New Discussion</div>
        <div class="nav-option">Github</div>
    </nav>
    <div clas="user-area">
        <User></User>
    </div>
</div>

@code {
    public void RedirectToHomePage()
    {
        NavManager.NavigateTo("/");
    }

    public void RedirectToSearchPage()
    {
        NavManager.NavigateTo("/search");
    }   
}