<div class="nav-wrapper">
    <div class="nav-title">
        <span class="nav-title-text">ForumWars</span>
        <span class="nav-title-bomb">💣</span>
    </div>
    <nav class="nav">
        <div class="nav-option">New Discussion</div>
        <div class="nav-option">Github</div>
    </nav>    
</div>

@code {
        
}
