/* _content/ForumWars/Pages/Components/Topics.razor.rz.scp.css */
.content[b-n0zoxo2xcb] {
    margin-top : 95px;
    max-width : 1580px;    
}

.title[b-n0zoxo2xcb] {
    color: black;
    font-weight: bold;
    font-size: 70px;
}

.discussion-title[b-n0zoxo2xcb] {
    color: black;
    font-weight: bold;
    font-size: 50px;
    margin-right : 55px;
}

.discussions-wrapper[b-n0zoxo2xcb] {
    margin-top : 25px;
    width : fit-content;
}
.discussion-card[b-n0zoxo2xcb] {    
    padding: 60px;
    border-radius: 1%;
    margin-bottom : 35px;
    height : fit-content;
    background-color: lightgoldenrodyellow;
}

.discussion-header[b-n0zoxo2xcb] {
    gap : 20px;
    display : flex;
}

.topics[b-n0zoxo2xcb] {    
    margin-left : 15px;
    padding : 10px;
    border-radius : 20%;
    font-size : 18px;
    font-weight : bolder;
    height : fit-content;
    width : fit-content;
    background-color : gold;
}

.discussion-upvotes[b-n0zoxo2xcb] {
    font-weight : bold;
    font-size: 35px;
    margin-left : auto;
}

.discussion-title[b-n0zoxo2xcb] {
    color: darkorange;
}

.discussion-body[b-n0zoxo2xcb] {
    margin-top : 25px;
    font-size : 20px;
    font-weight : bold;
}
/* _content/ForumWars/Pages/Components/TrendingHastags.razor.rz.scp.css */
.trending-hashtags-wrapper[b-cnxfghmh7x] {
    width: auto;
    height: max-content;
    margin-top: 55px;
}

.content[b-cnxfghmh7x] {
    display: flex;
}

.title[b-cnxfghmh7x] {
    color: black;
    font-weight: bolder;
    font-size: 70px;
}

.trending-hashtags-row[b-cnxfghmh7x] {
    display: flex;
    overflow-x: hidden;
    padding: 10px;
}

.move-btn[b-cnxfghmh7x] {
    font-size: 70px;
    color: orangered;
    font-weight: bold;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
}

    .move-btn:hover[b-cnxfghmh7x] {
        padding: 1px;
        cursor: pointer;
        color: red;
        transform: scale(1.2);
    }

.list-wrapper[b-cnxfghmh7x] {
    gap: 85px;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
    display: flex;
    width: stretch;
}

body > div.page > div.content-wrapper > div > div > div > div > div > div:nth-child(1)[b-cnxfghmh7x] {
    background-color: orangered !important;
}

body > div.page > div.content-wrapper > div > div > div > div > div > div:nth-child(2)[b-cnxfghmh7x] {
    background-color: #e5460b !important;
}

body > div.page > div.content-wrapper > div > div > div > div > div > div:nth-child(3)[b-cnxfghmh7x] {
    background-color: #cb4412 !important;
}

body > div.page > div.content-wrapper > div > div > div > div > div > div:nth-child(4)[b-cnxfghmh7x] {
    background-color: #923816 !important;
}

.item-wrapper[b-cnxfghmh7x] {
    display: block;
    padding: 40px;
    width: 245px;
    height: auto;
    text-align: center;
    border-radius: 10%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: slategrey;
    scroll-behavior: smooth;
}

    .item-wrapper:hover[b-cnxfghmh7x] {
        cursor: pointer;
        transition: ease-in-out 0.1s;
        transform: scale(1.2);
    }

.item[b-cnxfghmh7x] {
    text-align: center;
    color: khaki;
    font-size: 40px;
    font-weight: bold;
}

@keyframes fadeAway-b-cnxfghmh7x {
    0% {
        transition: ease-in-out;
    }

    100% {
        transform: scale(0.5);
        opacity: 0%;
    }
}

@-moz-keyframes fadeAway {
    0% {
        transition: ease-in-out;
    }

    100% {
        transform: scale(0.5);
        opacity: 0%;
    }
}

@-webkit-keyframes fadeAway {
    0% {
        transition: ease-in-out;
    }

    100% {
        transform: scale(0.5);
        opacity: 0%;
    }
}
/* _content/ForumWars/Pages/Topic.razor.rz.scp.css */
.topic-page-wrapper[b-t0n9l0emv3] {
    height: auto;
    width: 100%;
    color: black;
}

.topic-id[b-t0n9l0emv3] {
    font-size : xx-large;
}

.topic-wrapper[b-t0n9l0emv3] {
    padding: 10px;
}

.topic-title-wrapper[b-t0n9l0emv3] {
    display: flex;
    padding: 5px;
}

.topic-title[b-t0n9l0emv3] {
    font-size: xx-large;    
    font-weight: bold;
}

.topics[b-t0n9l0emv3] {
    margin-left: 35px;
}

.topic-topics[b-t0n9l0emv3] {
    background-color: crimson;
    color: white;
}

.topic-text[b-t0n9l0emv3] {
    padding: 2px;
    font-size: larger;    
}

.user-comment-section-wrapper[b-t0n9l0emv3] {
    display: flex;
    height: 120px;
    width: 240px
}

.comments-wrapper[b-t0n9l0emv3] {
    height: auto;
    width: 350px;
}

.comment-wrapper[b-t0n9l0emv3] {
    padding: 2px;
    width: 150px;
}

.comment-header-wrapper[b-t0n9l0emv3] {
    display: flex;
}

.comment-username[b-t0n9l0emv3] {
    font-size: larger;
}

.comment-creation-date[b-t0n9l0emv3] {
    font-size: larger;
    margin-left: auto;
}

.comment-text[b-t0n9l0emv3] {
    padding: 5px;
    margin-top: 50px;
    width: 150px;
}
/* _content/ForumWars/Shared/MainLayout.razor.rz.scp.css */
html[b-5xyxhp1lar] {
    scroll-behavior: smooth;
}

.page[b-5xyxhp1lar] {
    height: auto;
    width: 100%;
}

.content-wrapper[b-5xyxhp1lar] {
    padding: 10px;
    margin-left: 280px;
    margin-right: 280px;
}
/* _content/ForumWars/Shared/NavMenu.razor.rz.scp.css */
.nav-wrapper[b-nqkq92omyw] {
    flex: 1;
    color: white;
    display: flex;
    padding: 20px;
    font-weight: bold;
    font-size: x-large;
    background-color: red;
    background-color: orangered;
}

.nav-title[b-nqkq92omyw] { 
    cursor: pointer;
}

.nav-title:hover[b-nqkq92omyw] {
    
}

.nav-title-bomb[b-nqkq92omyw] {

}

.nav[b-nqkq92omyw] {
    flex: 1;
    color: white;
    gap: 10px;
    justify-content: center;
    text-align: center;
}

.nav-option[b-nqkq92omyw] {
    margin-right: 45px;
    text-align: center;
    text-decoration: none;
}

.nav-link:hover[b-nqkq92omyw] {
    cursor: pointer;    
}

/*Animations*/
@keyframes bombAnimation-b-nqkq92omyw {
    0% {        
    }
}

@-moz-keyframes bombAnimation {
}

@-webkit-keyframes bombAnimation {
}
