.content {
    margin-top: 95px;
    max-width: 1580px;
}

.title {
    color: black;
    font-weight: bold;
    font-size: 70px;
    cursor: default;
}

    .title.dark-theme {
        color: white;
    }

.discussion-title {
    color: black;
    font-weight: bold;
    font-size: 50px;
    margin-right: 55px;
}

    .discussion-title.dark-theme {
        color: white;
    }

.discussions-wrapper {
    margin-top: 25px;
    width: fit-content;
}

.discussion-card {
    padding: 60px;
    border-radius: 4%;
    margin-bottom: 35px;
    height: fit-content;
    background-color: lightgoldenrodyellow;
    opacity: 35%;
    transition: ease-in-out 0.5s;
}

    .discussion-card:hover {
        opacity: 100%;
        cursor: pointer;
        transform: scale(1.1);
    }

.discussion-header {
    gap: 20px;
    display: flex;
}

.topics {
    margin-left: 15px;
    padding: 10px;
    border-radius: 20%;
    font-size: 18px;
    font-weight: bolder;
    height: fit-content;
    width: fit-content;
    background-color: gold;
    transition: ease-in-out;
    animation: topicsShake 2s normal infinite;
}

.discussion-upvotes {
    font-weight: bold;
    font-size: 35px;
    margin-left: auto;
    transition: ease;
    animation: fireShake 4s backwards infinite;
}

.discussion-title {
    color: darkorange;
}

    .discussion-title.dark-theme {
        color: purple;
    }

.discussion-body {
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
}

/* --------------------------! Animations !-------------------------- */
/* --------------------------! Fire Shake !-------------------------- */
@keyframes fireShake {
    0% {
        transform: rotate(25deg)
    }

    25% {
        transform: rotate(-25deg)
    }

    50% {
        transform: rotate(25deg)
    }

    100% {
        transform: rotate(-25deg)
    }
}

@-moz-keyframes fireShake {
    0% {
        transform: rotate(25deg)
    }

    25% {
        transform: rotate(-25deg)
    }

    50% {
        transform: rotate(25deg)
    }

    100% {
        transform: rotate(-25deg)
    }
}

@-webkit-keyframes fireShake {
    0% {
        transform: rotate(25deg)
    }

    25% {
        transform: rotate(-25deg)
    }

    50% {
        transform: rotate(25deg)
    }

    100% {
        transform: rotate(-25deg)
    }
}

/* --------------------------! Topics Shake !-------------------------- */
@keyframes topicsShake {
    from {
        transform: scale(1.3);
    }

    to {
        transform: scale(1.0);
    }
}

@-moz-keyframes topicsShake {
    from {
        transform: scale(1.3);
    }

    to {
        transform: scale(1.0);
    }
}

@-webkit-keyframes topicsShake {
    from {
        transform: scale(1.3);
    }

    to {
        transform: scale(1.0);
    }
}
