.nav-wrapper {
    flex: 1;
    color: white;
    display: flex;
    padding: 20px;
    font-weight: bold;
    font-size: x-large;
    background-color: red;
    background-color: orangered;
    cursor: default;
}

.nav-title {
    cursor: pointer;
}

    .nav-title:hover {
    }

.nav-title-bomb {
}

.nav {
    flex: 1;
    color: white;
    gap: 10px;
    justify-content: center;
    text-align: center;
}

.nav-option {
    margin-right: 45px;
    text-align: center;
    text-decoration: none;
}

    .nav-option:hover {
        cursor: pointer;
    }

.nav-link:hover {
    cursor: pointer;
}

.user-area {
    margin-left: auto;
    padding: 2px;
}
