@using ForumWars.Controllers;

<script>
    () => {
        var theme = localStorage.getItem("theme");
        if (theme === "light") {
            document.body.classList.remove('light', 'dark');
            document.body.classList.add(theme);
        }
    }
</script>
<div class="content">
    <span class="title">🧧Discussions</span>
    <div class="discussions-wrapper">
        @if (discussions == null)
        {
            <div class="spinner-wrapper">
                <div class="spinner"></div>
            </div>
        }
        else
        {
            @foreach (ForumWars.Data.Topic discussion in discussions)
            {
                <div class="discussion-card">
                    <div class="discussion-header">
                        <span class="discussion-title">@discussion.Title</span>
                        @foreach (string topic in discussion.CommunityTopics)
                        {
                            <span class="topics">@topic</span>
                        }
                        <span class="discussion-upvotes">🔥@discussion.UpVotes.ToString()</span>
                    </div>
                    <div class="discussion-body">
                        @if (discussion.TopicText != null)
                        {
                            @discussion.TopicText
                            ;
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>

@code {
    List<ForumWars.Data.Topic>? discussions;

    public TopicPreview()
    {
        this.discussions = GetTopics();
    }

    List<ForumWars.Data.Topic> GetTopics()
    {
        var api = new TopicsController();
        return api.GetTopicList().Result;
    }
}
