@using ForumWars.Controllers;

<script>        
    let position = 0
    const divs = document.getElementsByClassName("item-wrapper")

    function HorizontalSlideRight() {            
        for (let i = position === 0 ? 0 : position; i < 4; ++i) {
            divs[i].style.animation = "slide-out 1s forwards"
            divs[i].style.display = "none"            
            ++position;            
        }                
    }

    function HorizontalSlideLeft() {        
        if (position > 4) {
            for (let i = 4; i >= 0; --i) {        
                --position;
                divs[i].style.animation = "slide-in 1s forwards"
                divs[position].style.display = "block"                
            }
        }        
    }
</script>
<div class="trending-hashtags-wrapper">
    @if (list == null)
    {
        <div class="spinner-wrapper">
            <div class="spinner"></div>
        </div>
    }
    else
    {
        <span class="title">🔥Trending Hastags</span>
        <div class="content">
            <span class="move-btn" onclick="HorizontalSlideLeft()">
                @string.Concat("<", "")
            </span>
            <div class="trending-hashtags-row">
                <div class="list-wrapper">
                    @foreach (var item in list)
                    {                        
                        <div class="item-wrapper">
                            <span class="item">#@item.HashtagTitle</span>
                        </div>                        
                    }
                </div>
            </div>
            <span class="move-btn" onclick="HorizontalSlideRight()">
                @string.Concat(">", "")
            </span>
        </div>
    }
</div>

@code {
    List<ForumWars.Data.TrendingHastag>? list;

    public TrendingHastags()
    {
        this.list = BuscarTrendingHashtags();
    }

    List<ForumWars.Data.TrendingHastag> BuscarTrendingHashtags()
    {
        var api = new ForumWars.Controllers.HashTagsController();
        return api.GetHashtags().Result;
    }
}