@using ForumWars.Controllers;
@using MudBlazor;
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavManager

<script>
    let position = 0
    const divs = document.getElementsByClassName("item-wrapper")

    function HorizontalSlideRight() {
        for (let i = position === 0 ? 0 : position; i < 4; ++i) {
            divs[i].style.animation = "slide-out 1s forwards"
            divs[i].style.display = "none"
            ++position;
        }
    }

    function HorizontalSlideLeft() {
        if (position >= 3) {
            for (let i = 3; i >= 0; --i) {
                --position;
                divs[i].style.animation = "slide-in 1s forwards"
                divs[position].style.display = "block"
            }
        }
    }
</script>
<div class="trending-hashtags-wrapper">
    @if (list == null)
    {
        <div class="spinner-wrapper">
            <div class="spinner"></div>
        </div>
    }
    else
    {
        <MudText class="title" Color="Color.Secondary" Style="text-align:left; font-size:50px; text-align:center; font-weight:bold; ">🔥Trending Hastags</MudText>
        <hr class="divisor" />
        <div class="content">
            <MudButton Color="Color.Primary" Style="font-size:75px;" @onclick=HorizontalSlideLeft>
                @string.Concat("<", "")
            </MudButton>
            <div class="trending-hashtags-row">
                <div class="list-wrapper">
                    <div class="item-wrapper">
                        <MudButton 
                            Variant="Variant.Filled" 
                            Color="Color.Error" 
                            Style="width:185px; height:185px; font-size:25px; font-weight:bold;" 
                            Class="item"
                            @onclick="()=> { RedirectToTopicPage(list[0].HashtagTitle!); }"
                        >
                            #@list[0].HashtagTitle
                        </MudButton>
                    </div>
                    <div class="item-wrapper">
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Warning"
                                   Style="width:185px; height:185px; font-size:25px; font-weight:bold;"
                                   Class="item"
                                   @onclick="()=> { RedirectToTopicPage(list[1].HashtagTitle!); }"
                        >
                            #@list[1].HashtagTitle
                        </MudButton>
                    </div>
                    <div class="item-wrapper">
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   Style="width:185px; height:185px; font-size:25px; font-weight:bold;"
                                   Class="item"
                                   @onclick="()=> { RedirectToTopicPage(list[2].HashtagTitle!); }"
                        >
                            #@list[2].HashtagTitle
                        </MudButton>
                    </div>
                    <div class="item-wrapper">
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Secondary"
                                   Style="width:185px; height:185px; font-size:25px; font-weight:bold;"
                                   Class="item"
                                    @onclick="()=> { RedirectToTopicPage(list[3].HashtagTitle!); }"
                        >
                            #@list[3].HashtagTitle
                        </MudButton>
                    </div>                    
                    @foreach (var item in list.GetRange(3, list.Count - 4))
                    {                        
                        <div class="item-wrapper">
                            <MudButton 
                                Variant="Variant.Filled" 
                                Color="Color.Secondary" 
                                Style="width:185px; height:185px; font-size:25px; color:black; font-weight:bold;"
                                @onclick="()=> { RedirectToTopicPage(item.HashtagTitle!); }">
                                    #@item.HashtagTitle
                            </MudButton>
                        </div>
                    }
                </div>
            </div>
            <MudButton Color="Color.Primary" Style="font-size:75px;"@onclick=HorizontalSlideRight>
                @string.Concat(">", "")
            </MudButton>
        </div>
    }
</div>

@code {
    #region Properties
    List<ForumWars.Data.TrendingTopics>? list;
    #endregion

    #region Constructors
    public TrendingTopics()
    {
        this.list = FindTrendingHashtags();
    }
    #endregion

    #region Methods
    private async Task HorizontalSlideRight()
    {
        await JSRuntime.InvokeVoidAsync("HorizontalSlideRight");
    }

    private async Task HorizontalSlideLeft()
    {
        await JSRuntime.InvokeVoidAsync("HorizontalSlideLeft");
    }

    private List<ForumWars.Data.TrendingTopics> FindTrendingHashtags()
    {
        var api = new ForumWars.Controllers.TopicsController();
        return api.GetTrendingTopics().Result;
    }

    private void RedirectToTopicPage(string topic)
    {        
        NavManager.NavigateTo($"/topic/{topic}");
    }
    #endregion
}