.trending-hashtags-wrapper {
    width: auto;
    height: max-content;
    margin-top: 90px;
}

.content {
    display: flex;
    transition: ease-out 0.5s;
    opacity: 35%;
}

    .content:hover {
        opacity: 100%;
    }

.title {
    color: black;
    font-weight: bolder;
    font-size: 70px;
    cursor: default;
}

    .title.dark-theme {
        color: white;
    }

.trending-hashtags-row {
    display: flex;
    overflow-x: hidden;
    padding: 10px;
}

.move-btn {
    font-size: 70px;
    color: orangered;
    font-weight: bold;
    margin-inline-start: 15px;
    margin-inline-end: 15px;    
}

    .move-btn.dark-theme {
        color: #096BFF;
    }

    .move-btn:hover {
        padding: 1px;
        cursor: pointer;
        color: red;
        transform: scale(1.1);
    }

.list-wrapper {
    gap: 85px;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
    display: flex;
    width: stretch;
    align-content:center;
    justify-content: center;
}

body > div.page > div.content-wrapper > div > div > div > div > div > div:nth-child(1) {
    background-color: orangered !important;
}

    body > div.page > div.content-wrapper > div > div > div > div > div > div:nth-child(1).dark-theme {
        background-color: #C41CFF !important;
    }

body > div.page > div.content-wrapper > div > div > div > div > div > div:nth-child(2) {
    background-color: #e5460b !important;
}

    body > div.page > div.content-wrapper > div > div > div > div > div > div:nth-child(2).dark-theme {
        background-color: #A42CCE !important;
    }

body > div.page > div.content-wrapper > div > div > div > div > div > div:nth-child(3) {
    background-color: #cb4412 !important;
}

    body > div.page > div.content-wrapper > div > div > div > div > div > div:nth-child(3).dark-theme {
        background-color: #8A32A9 !important;
    }

body > div.page > div.content-wrapper > div > div > div > div > div > div:nth-child(4) {
    background-color: #923816 !important;
}

    body > div.page > div.content-wrapper > div > div > div > div > div > div:nth-child(4).dark-theme {
        background-color: #782A94 !important;
    }

.item-wrapper {    
}

    .item-wrapper:hover {
        cursor: pointer;
        transition: ease-in-out 0.1s;
        transform: scale(1.2);
    }

.item {
    text-align: center;
    color: khaki;
    font-size: 40px;
    font-weight: bold;
}

    .item.dark-theme {
        color: #9FFEF8;
    }

/* --------------------------! Animations !-------------------------- */
/* -------------------------- Fade Away -------------------------- */
@keyframes fadeAway {
    0% {
        transition: ease-in-out;
    }

    100% {
        transform: scale(0.5);
        opacity: 0%;
    }
}

@-moz-keyframes fadeAway {
    0% {
        transition: ease-in-out;
    }

    100% {
        transform: scale(0.5);
        opacity: 0%;
    }
}

@-webkit-keyframes fadeAway {
    0% {
        transition: ease-in-out;
    }

    100% {
        transform: scale(0.5);
        opacity: 0%;
    }
}

/* -------------------------- Slide In -------------------------- */
@keyframes slide-in {
    0% {
        -webkit-transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(0%);
    }
}

@-webkit-keyframes slide-in {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* -------------------------- Slide Out -------------------------- */

@keyframes slide-out {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

@-webkit-keyframes slide-out {
    0% {
        -webkit-transform: translateX(0%);
    }

    100% {
        -webkit-transform: translateX(100%);
    }
}

/* -------------------------- Interaction -------------------------- */
@keyframes name {
    from {
    }

    to {
        background: yellow;
    }
}

@-moz-keyframes name {
}

@-webkit-keyframes name {
}
