@using ForumWars.Controllers;
@using MudBlazor;
@inject NavigationManager NavManager;

<div class="user-info-wrapper" @onclick="() => RedirectToUserPage(0)">
    <MudIconButton Icon="@Icons.Material.Filled.SupervisedUserCircle" Color="Color.Inherit" />
</div>

@code { 
    // dependenci inversion
    // SessionController session = new SessionController();

    public void RedirectToUserPage(int idUser)
    {
        NavManager.NavigateTo($"/user/{idUser}");
    }
}