@using ForumWars.Controllers;
<div class="user-info-wrapper">     
    <div class="user-wrapper">        
        <div class="user-head"></div>
        <div class="user-body"></div>
    </div>
</div>

@code {
    SessionController session = new SessionController();
}