.user-info-wrapper {
    display: flex;
}

.user-wrapper {
    padding: 7px;
    border-radius: 100%;
    height: max-content;
    width: max-content;
}

    .user-wrapper:hover {
        background-color: darkkhaki;
        cursor: pointer;
    }

.user-head {
    height: 14px;
    width: 14px;
    margin-left: auto;
    margin-right: auto;
    border: white 2px thick;
    border-radius: 100%;
    background-color: white;
}

.user-body {
    height: 24px;
    width: 30px;
    border: white 2px thick;
    border-radius: 70%;
    background-color: white;
}
