<div class="user-info-wrapper"> 
    <img class="user-icon" alt="userIcon" />
    <div class="user-username">@session.GetSessionUsername()</div>
</div>

@code {
    var session = new SessionController();
}